body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: bisque;
    overflow: auto;
}

/*  HEADER */
.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    min-height: 300px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('./images/header.jpg');
    background-size: cover;
    background-position: center;
    transition: background 0.3s ease;
    color: #444;
}

header h1 {
   margin: 0; 
}

.header-container {
    animation: slideFadeDown 0.7s ease-out;
    position: relative;
}

header, nav {
    position: relative;
    z-index: 2;
}

nav ul {
    list-style: none;
    margin: 0;
   padding: 0;
   display: flex;
}

nav ul li {
 margin-left: 1em;   
}

nav ul li a{
    color: rgb(60, 9, 9);
    text-decoration: none;
}


nav ul li a:hover {
    color: white;
    text-decoration: underline;
}


.slider-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slider-img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SECTIONS */

section {
    margin: 15px;
    padding: 15px;
}

.product,.service,.feedback{
    border: solid #444;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product:hover, .service:hover {
    animation: bounce 0.4s ease;
}


.product img, .service img {
    width:100% ;
    height: auto;
    object-fit: cover;
}


.product-container, .service-container, .feedback-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

h3, p{
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

address {
    margin: 10px;
    padding: 10px;
}


/* Form */
#booking-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(248, 213, 171);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin: auto;
}

#booking-form input, #booking-form select {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: rgb(117, 106, 106);
    color: #fff;
}

#booking-form input::placeholder{
    color: #fff;
}

#booking-form button {
    align-self: flex-end;
    background: linear-gradient(45deg,#007bff, #0056b3);
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
}

#booking-form button:hover {
    background: llinear-gradient(45deg, #0056b3, #003580);
}

/* Modal */
/* #modal {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
} */

/* #modal-content {
    background-color: rgb(246, 230, 210);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

#close-modal {
    justify-self: center;
    background: linear-gradient(45deg, #0056b3, #003580);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Hide the Modal initially */
.hidden {
    display: none;
}
/* BUTTON */

.buy-button, .book-button {
   background: linear-gradient(45deg,#007bff, #0056b3);
   border: none;
   color: white;
   padding: 12px 24px;
   text-align: center; 
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 10px 20px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.book-button:hover, .buy-button:hover {
    background: linear-gradient(45deg, #0056b3, #003580);
    text-shadow: 1px 1px 2px black;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}


/* Footer */

foot {
    margin: 2px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

.footer-section {
    /* flex: 1; */
    padding: 1em;
    margin: 0.5em;
}

.footer-section h3{
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #ccc;
}

.footer-bottom {
    text-align: center;
    padding: 1em;
    background-color: #222;
    color: #fff;
    /* width: 100%; */
}

.social-icons i {
    margin: 0 10px;
}

/* Mobile View */

@media (max-width: 768px) {
    .product, .service {
        flex-basis: 100%;
        margin: 1em 0;
    }

    .product-container, .service-container {
        flex-wrap: wrap;
    }
    .feedback h2,p {
        font-size: 20px;
        padding: 1em;
        margin: 1em;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 1em;
    }
    #booking-form-container {
        width: 500px;
    }
}

/* ANIMATION */


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0)
    }
    40% {
        transform: translateY(-10%);
    }
    60% {
        transform: translateY(-5%);
    }
}

@keyframes slideFadeDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


